div {
    width: 100px;
    height: 100px;
    background: #4A88F4;
    color: #fff;
    font-size: 30px;
    font-family: arial;
    /*float: left;*/
}

/*.caja_padre {
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
}*/

.caja {
    position: static;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 300px;
}