div {
    background: rgb(202, 192, 192);
    width: 100%;
}

img {
    height: auto;
    width: 500px;
    margin: auto;
    display: block;
    border-radius: 30px;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 0.0%;
    border: 2px  solid rgba(0, 0, 0, 0.4);
}