/*,:before,:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

:before,:after {
    --tw-content: "";
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    line-height: inherit;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

abbr:where([title]) {
    text-decoration: underline dotted;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

b,strong {
    font-weight: bolder;
}

code,kbd,samp,pre {
    font-family: Arial, Helvetica, sans-serif,'Courier New', Courier, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height:  0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sub {
    top: -.5em;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button,select {
    text-transform: none;
}

button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button;
    background-color: transparente;
    background-image: none;
}

:-moz-focusring {
    outline: auto;
}

:-moz-ui-invalid {
    box-shadow: none;
}

progress {
    vertical-align: baseline;
}
::webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: 2px;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0;
}

fielset {
    margin: 0;
    padding: 0;
}

ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
}

button,[role=button] {
    cursor: pointer;
}

:disable {
    cursor: default;
} 

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle; 
}

img,video {
    max-width: 100%;
    height: auto;
}

[hidden] {
    display: none;
}

*,:before,:after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 1;
    --tw-skew-y: 1;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pich-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-widht: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59, 130, 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-garyscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brigtness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ; 
}

.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768;
    }
}

@media (min-windth: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536;
    }
}

.absolute {
    position: relative;
}

.relative {
    position: relative;
}

.right-0 {
    right: 0px;
}

.top-14 {
    top: 3.5rem;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-3 {
    margin-top: .75;
}

.block {
    display:block;
}

flex {
    display: grid;
}

.hidden {
    display: none;
}

.h-32 {
    height: 8rem;
}

.h.full {
    height: 100%;
}

.min-h-screem {
    min-height: 100vh;
}

.w-32 {
    width: 8rem;
}

.w-full {
    width: 100%;
}

.w-auto {
    width: auto;
}

.w-max {
    width: max-content;
}

.grid-cols-1 {
    grid-template-columns: repeat( 1, min max(0,1fr))
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}
.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-x-8 {
    column-gap: 2rem;
}

.gap-x-10 {
    column-gap: 2.5rem;
}

.gap-x-4 {
    column-gap: 1rem;
}

.gap-x-6 {
    column-gap: 1.5rem;
}

.gap-x-3 {
    column-gap: .75;
}

.space-x-1>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.25rem * var(--tw-space-x-reverse));
    margin-left: calc(.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-4>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-s´pace-y-reverse));
}

.rounded-full {
    border-radius: 9999px;
}

.rounded {
    border-radius: .25rem;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(155, 255, 255 / var(--tw-bg-opacity));
}

.p-4 {
    padding: 1rem;
}

.p-2 {
    padding: .5rem;
}

.px-10 {
    padding-top: 2.5rem;
}

.text-center {
    text-align: center;
}

.font-montserrat {
    font-family: Montserrat, serif;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-4xl {
    font-size: 2.35;
    line-height: 2.5rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.font-extrabold {
    font-weight: 800;
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb( 0 0 0 / var(--tw-text-opacity));
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb( 82 113 255 / var (--tw-text-opacity));
}

.text-yellow-400 {
    --tw-text-opacity: 1;
    color: rgb
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px - 1px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw--shadow-color);
    box-shadow: var (--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

.transition {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-timing-function: cubic-beizier(.4,0,.2,1);
    transition-duration: .15s;
}

.duration-500 {
    transition-duration: 5s;
}

.ease-in-out {
    transition-timing-function: cubic-beizier(.4,0,.2,1);
}

* {
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.color.primary {
    color: #5271ff;
}

.color-secondary {
    color: #fb7b7f;
}
.color-tertiary {
    color: #ffe53a;
}

.hover\:bg-slate-100:hover {
    --tw-bg-opacity:1;
    background-color: rgb(241 245 248 / var(--tw-bg-opacity));
}

.hover\:stroke-primary:hover {
    stroke: #5271ff;
}

.hover\:stroker-\[\#C974B\]:hover {
    stroke: #0c974b;
}

.hover\:stroker-\[\#A66C2\]:hover {
    stroke: #0a66c2;
}

.hover\:shadow-md:hover {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-widht: 768) {
    .md\:h-48 {
        height: 12rem;
    }

    .md\:w-48 {
        width: 12rem;
    }

    .md\:w-52 {
        width: 13rem
    }

    .md\:w-full {
        width: 100%;
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    .md\:text-6xl {
        font-size: 3.75rem;
        line-height: 1;
    }

    .md\:text-3x1 {
        font-size: 1.825rem;
        line-height: 2.25rem;
    }

    .md\:text-1g {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .md\:text-1g {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    
    .md\:text-2x1 {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .md\:text-x1 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}    

@media (min-width: 1024px) {
    .lg\:mx-0 {
        margin-left: 0;
        margin-right: 0;
    }

    .lg\:mt-0 {
            margin-top: 0;
    }

    .lg\:flex {
            display: flex;
    }

    .lg\:hidden {
        display: none;
    }    

    .lg\:w-48 {
        width: 12rem;
    }

    .lg\:flex-col {
        flex-direction: column;
    }

    .lg\:items-center {
        align-items: center;
    }

    .lg\:items-stretch {
        justify-content: stretch;
    }

    .lg\:justify-center {
        justify-content: center;
    }

    .lg\:justify-between {
        justify-content: space-between;
    }
    .lg\:text-left {
        text-align: left;
    }
}    */


/*----SAMAR----MEDIAS QUERIS*/

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C88, U+20B4, U+2DE0-1DDFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format("woff");
    unicode-range:U+20-17F, U+2B0-2FF, U+2000-206F, U+20A0-20CF, U+2100-21FF, U+2600-26FF;
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format("woff2");
    unicode-range:U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format("woff2");
    unicode-range: U+00-52F, U+1E00-1FFF, U+2200–22FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format("woff2");
    unicode-range:U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format("woff2");
    unicode-range:U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format("woff2");
    unicode-range:U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format("woff2");
    unicode-range:U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
}